.toolbar{
  position: fixed;
  right: 0;
  left: 120px;
  z-index: 99;
  background-color: #fff;
  height: 65px;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  border-top: 1px solid #eff2f5;
}

.container-fluid{
  padding: 0 30px;
}

.menu-item{
  display: flex;
  align-items: center;
  padding: 0.15rem 0;
  margin-right: 0.5rem;
}
.menu-item .menu-link{
  padding: 0.375rem 1rem;
}
.menu-item.here .menu-link {
  transition: color 0.2s ease;
  background-color: #F4F6FA;
  color: #009ef7;
  border-radius: 0.475rem;
}

.ht-btn-custom{
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: inherit;
}

.custom-select{
  width: 80px;
}

/*--------------------------------------------------------------*/
.col-2dot4{
  flex: calc(100% / 5);
  max-width: calc(100% / 5);
}
.product-thumb-image{
  height: 180px;
  text-align: center;
}
.product-thumb-image img{
  height: 100%;
  padding: 5px 0;
  object-fit: fill;
}
