.hrtag{
  background: #50B848;
  border: 0;
  outline: 0;
  height: 2px;
  width: 150px;
}

.ht-btn-custom{
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: inherit;
}

.address{
  display: flex;
  align-items: center;
  gap: 20px;
}
