<app-nav-list></app-nav-list>

<div class="site-wrapper-reveal">
  <app-slider-list></app-slider-list>

  <!--========== digital-store-main-content Start ============-->
  <div class="digital-store-main-content">

    <app-customer-list></app-customer-list>

    <app-about-home></app-about-home>

    <app-product-list></app-product-list>

    <app-number-home></app-number-home>

    <app-gallery-home></app-gallery-home>

    <app-recruit-post></app-recruit-post>

    <app-cus-typical-home></app-cus-typical-home>
  </div>
  <!--========== digital-store-main-content End ============-->
</div>


<app-footer></app-footer>
