<div class="site-wrapper-reveal">
  <!--====================  Blog Area Start ====================-->
  <div class="blog-pages-wrapper wow move-up section-space--ptb_120">
    <form (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-lg-9" style="margin: 0 auto">
            <div class="contact-inner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="wdc-box">
                      <div class="box-icon">
                        <span><i class="{{typicalNum.icon}}" style="padding-top: 23px"></i></span>
                      </div>
                      <div class="wdc-input">
                        <input type="text" name="icon" [(ngModel)]="typicalNum.icon" placeholder="Nhập mã biểu tượng ở đây">
                        <p>*Mã bắt đầu bằng: <strong>fa</strong>, <strong>far</strong> hoặc <strong>fas</strong></p>
                        <p>*vd: <strong>fa fa-university</strong></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="contact-inner">
                      <input type="text" name="num" [(ngModel)]="typicalNum.num" placeholder="*Số">
                    </div>
                    <div class="contact-inner contact-message">
                      <span><strong>Mô tả</strong></span>
                      <textarea style="height: 138px" name="description" [(ngModel)]="typicalNum.description" placeholder="*Viết gì đó"></textarea>
                    </div>

                    <div class="comment-submit-btn">
                      <button class="ht-btn ht-btn-md mr-2" type="submit">Lưu</button>
                      <button class="ht-btn ht-btn-md ml-2" style="background: #ccc" type="button" (click)="goToTypicalList()">Hủy</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <!--====================  Blog Area End  ====================-->
</div>
