<form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="update_box">
          <span><strong>Ảnh bìa</strong></span>
          <div class="image">
            <img src="{{url}}" alt="" appHideMissing>
          </div>
          <input type="file" value="select" (change)="onFileChange($event)">
        </div>

        <div class="update_box">
          <span><strong>Mô tả</strong></span>
          <input type="text" [(ngModel)]="recruit.description" name="description">
        </div>

        <button type="submit" class="btn bg-success">Lưu</button>
        <a routerLink="/admin/recruit" routerLinkActive="active" class="btn mx-3" style="background: #d6d8d9">Hủy</a>
      </div>

      <div class="col-lg-8">
        <div class="update_box">
          <span><strong>Tiêu đề</strong></span>
          <input type="text" name="title" [(ngModel)]="recruit.title">
        </div>

        <div class="update_box">
          <span><strong>Nội dung</strong></span>
          <ckeditor [(ngModel)]="recruit.content" [ngModelOptions]="{standalone: true}" [config]="ckeConfig" [data]="recruit.content"></ckeditor>
        </div>
      </div>
    </div>
  </div>
</form>
