.hrtag{
  background: #50b848;
  border: 0;
  outline: 0;
  height: 1px;
  width: 150px;
}

.wp-post-image{
  width: 100vw;
  height: 35vh;
  object-fit: cover;
}

@media screen and (min-width: 992px){
  .wp-post-image{
    height: 85vh;
  }
}
