<div class="toolbar py-1">
  <!--begin::Container-->
  <div class="container-fluid d-flex align-items-center">
    <div class="page-title d-flex align-items-center flex-wrap p-3">
      <!--begin::Title-->
      <h6 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">Kho ảnh
        <!--begin::Separator-->
        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
        <!--end::Separator-->
        <!--begin::Description-->
        <a routerLink="../typical/image" routerLinkActive="active">
          <small class="text-muted fs-7 fw-semibold my-1 ms-1">Ảnh hoạt động</small>
        </a>
        <!--end::Description-->
      </h6>
      <!--end::Title-->
    </div>
  </div>
  <!--end::Container-->
</div>

<!--begin::Container-->
<div class="d-flex flex-column flex-column-fluid">
  <div class="site-wrapper-reveal">
    <div class="blog-pages-wrapper section-space--pt_100 section-space--pb_40">
      <div class="container-fluid--cp-120">
        <div class="tab-pane" id="grid">
          <div class="faq-wrapper">
            <div class="row">
              <div class="col-lg-3">
                <div class="card" style="border-radius: 6px">
                  <a routerLink="image" routerLinkActive="active">
                    <div class="folder-tree">
                      <i class="fas fa-folder"></i>
                      <span>Ảnh</span>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="card" style="border-radius: 6px">
                  <a routerLink="slider" routerLinkActive="active">
                    <div class="folder-tree">
                      <i class="fas fa-folder"></i>
                      <span>Ảnh trình chiếu</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::Container-->
