<div class="box-eco">
  <div class="box-lienhe">
    <div class="form-input">
      <div class="form-scroll">
        <div class="padding-20">
          <div class="header">
            <a class="logo" href="/">
              <img style="height:50px; margin-left: -10px" src="../../../../assets/images/avatars/logoEcoit.jpg" alt="EcoIT"/>
            </a>
          </div>
          <div style="color:#50b848;font-size:24px" class="has-text-color">Chào Quý Khách hàng!</div>
          <br>
          <div style="font-size:17px;">Vui lòng điền thông tin theo mẫu form dưới đây để bộ phận Tư vấn khách hàng của EcoIT có thể hỗ trợ quý khách hàng sớm nhất.</div>

          <div class="pt-3">
            <form>
              <label>
                <span>Tên</span>
                <span style="color: #f00">*</span>
                <input type="text" required>
              </label>
              <label>
                <span>Số điện thoại</span>
                <span style="color: #f00">*</span>
                <input type="text">
              </label>
              <label>Email
                <input type="text">
              </label>
              <label>Nội dung
                <textarea></textarea>
              </label>
              <input type="submit" value="Gửi">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="img-background">
      <div class="img-over">
        <img width="956" src="../../../../assets/images/bg/13-1198x800.jpg" class="img-fluid pos-max wp-post-image" alt="" >
      </div>
      <div class="contact">
        <div class="contact-box">
          <div class="contact-content">
            <div class="box-icon">
              <i class="fa fa-home" style="color: inherit"></i>
            </div>
            <span>{{fullAddress}}</span>
          </div>
          <div class="contact-content">
            <div class="box-icon">
              <i class="fa fa-phone" style="color: inherit"></i>
            </div>
            <span>{{about.phone}}</span>
          </div>
          <div class="contact-content">
            <div class="box-icon">
              <i class="far fa-envelope" style="color: inherit"></i>
            </div>
            <span>{{about.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
