.header-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: #fff;
  padding-top: 10px;
}
.header-top .header-left-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-top .header-label {
  font-size: 24px;
}
.color-gre {
  color: #50b848;
}
.color-gre:hover a {
  color: #888;
}
.header-button {
  background: #50b848;
}
/*------------------------------------------------------------------------------*/
.header-bottom {
  padding-top: 10px;
}
.menu-primary > li > a {
  position: relative;
  color: #fff;
  padding: 0 10px;
  margin: 0 5px;
}

.menu-primary > li > a:after {
  position: absolute;
  content: "";
  left: 50%;
  right: 50%;
  opacity: 0;
  bottom: -6px;
  border-bottom: 3px solid #50b848;
}
.menu-primary > li.active > a:after,
.menu-primary > li:hover > a:after {
  opacity: 1;
  left: 0;
  right: 0;
}
.navigation-menu > ul > li.has-children > a:after {
  content: " ";
}
.submenu {
  width: 330px;
  top: 30px;
}
.submenu li a {
  font-size: 14px;
  color: #50b848;
}
.submenu li:hover a {
  background: #50b848;
  color: #fff;
}
#header-wrapper {
  background-color: #000000a8;
}
