<div class="modal-custom-1">
  <div class="row w-100 h-100">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="col-lg-9 ml-auto mr-auto">
          <div class="card-body p-md-5 mx-md-4">
            <div class="text-center">
              <img src="assets/images/avatars/logoEcoit.jpg"
                   style="width: 185px;" alt="logo">
              <h4 class="mt-1 mb-5 pb-1">Đăng nhập</h4>
            </div>
            <form >

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Tên đăng nhập">
              </div>

              <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="Mật khẩu">
              </div>

              <div class="form-outline mb-4">
                <input type="hidden" name="role">
              </div>

              <!-- Checkbox -->
              <div class="save-pass">
                <label class="save-pass-container">Nhớ mật khẩu?
                  <input type="checkbox" name="remember">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="text-center pt-1 mb-5 pb-1">
                <button class="btn btn-primary btn-block fa-lg mb-3" type="submit">Đăng nhập</button>
                <a class="text-muted" href="#!">Quên mật khẩu?</a>
              </div>

              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 mr-2">Bạn chưa có dài khoản?</p>
                <a routerLink="/register" routerLinkActive="active" class="text-primary">Đăng ký ngay</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4 text-light">Chào mừng đến với App chat EcoIT</h4>
          <p style="color: #ccc">
            Công ty Cổ phần EcoIT được đăng ký thành lập vào ngày 29/09/2010
            là một Công ty tin học chuyên cung cấp phần mềm, dịch vụ, hệ thống
            và các giải pháp về Công nghệ thông tin được sáng lập và lãnh đạo bởi
            các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm
            trong các lĩnh vực Công nghệ thông tin có cùng ý tưởng đến từ nhiều tổ chức,
            doanh nghiệp trong các lĩnh vực khác nhau.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-custom">
  <div class="row w-100 h-100">
    <div class="row g-0">
      <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4 text-light">Chào mừng đến với App chat EcoIT</h4>
          <p style="color: #ccc">
            Công ty Cổ phần EcoIT được đăng ký thành lập vào ngày 29/09/2010
            là một Công ty tin học chuyên cung cấp phần mềm, dịch vụ, hệ thống
            và các giải pháp về Công nghệ thông tin được sáng lập và lãnh đạo bởi
            các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm
            trong các lĩnh vực Công nghệ thông tin có cùng ý tưởng đến từ nhiều tổ chức,
            doanh nghiệp trong các lĩnh vực khác nhau.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="col-lg-9 ml-auto mr-auto">
          <div class="card-body p-md-5 mx-md-4">
            <div class="text-center">
              <img src="assets/images/avatars/logoEcoit.jpg"
                   style="width: 185px;" alt="logo">
              <h4 class="mt-1 mb-5 pb-1">Đăng ký</h4>
            </div>
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" ngNativeValidate>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div *ngIf="isSignUpFailed" class="error-mess mb-4">{{errorMessage}}</div>
              <div *ngIf="isSuccessful" class="alert-success mb-4">{{errorMessage}}</div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" class="form-control" placeholder="Họ">
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" class="form-control" placeholder="Tên">
                  </div>
                </div>
              </div>

              <!-- Username input -->
              <div class="form-outline mb-4">
                <input type="text" name="username" [(ngModel)]="form.username" class="form-control" placeholder="Tài khoản" required>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" name="email" [(ngModel)]="form.email" class="form-control" placeholder="Email" required>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" name="password" [(ngModel)]="form.password" class="form-control" placeholder="Mật khẩu" required>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Đăng ký</button>

              <div>Bạn đã có tài khoản? <a class="text-info" routerLink="/login" routerLinkActive="active">Đăng nhập</a></div>

              <!--                &lt;!&ndash; Register buttons &ndash;&gt;-->
              <!--                <div class="text-center">-->
              <!--                  <p>or sign up with:</p>-->
              <!--                  <button type="button" class="btn btn-link btn-floating mx-1">-->
              <!--                    <i class="fab fa-facebook-f"></i>-->
              <!--                  </button>-->

              <!--                  <button type="button" class="btn btn-link btn-floating mx-1">-->
              <!--                    <i class="fab fa-google"></i>-->
              <!--                  </button>-->

              <!--                  <button type="button" class="btn btn-link btn-floating mx-1">-->
              <!--                    <i class="fab fa-twitter"></i>-->
              <!--                  </button>-->

              <!--                  <button type="button" class="btn btn-link btn-floating mx-1">-->
              <!--                    <i class="fab fa-github"></i>-->
              <!--                  </button>-->
              <!--                </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
