.breadcrumb-box{
  width: 100%;
}
.breadcrumb-box img{
  width: 100%;
  object-fit: cover;
}

.chuyenmuc{
  text-transform: uppercase;
  color: #50B848;
}
.hrtag{
  background: #50B848;
  border: 0;
  outline: 0;
  height: 2px;
  width: 200px;
}
