<app-nav-list></app-nav-list>

<!-- breadcrumb-area start -->
<div class="breadcrumb-box">
  <img src="assets/images/banners/banner-tuyen-dung-2.jpg" class="img-fluid" appHideMissing>
</div>
<!-- breadcrumb-area end -->

<!--========== News List ==========-->
<div class="site-wrapper-reveal">
  <!--====================  Blog Area Start ====================-->
  <div class="blog-pages-wrapper section-space--ptb_30">
    <div class="container">
      <div class="py-4 mb-4">
        <div class="align-items-center">
          <div class="text-center">
            <h3 class="chuyenmuc">KHÁCH HÀNG TIÊU BIỂU</h3>
            <hr class="hrtag">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 wow move-up" style="padding: 10px" *ngFor="let customer of customers">
          <!-- Service Grid Start -->
          <div class="service-grid m-0">
            <div class="ht-service-box--two text-center style-03">
              <div class="image">
                <img src="{{customer.image.pathUrl}}" class="img-fluid" alt="aeroland-startup-box-icon-01" appHideMissing>
              </div>
            </div>
          </div>
          <!-- Service Grid End -->
        </div>
      </div>
    </div>
  </div>
  <!--====================  Blog Area End  ====================-->
</div>
<!--======== End News List ========-->

<app-footer></app-footer>
