<!--====================  brand logo slider area ====================-->
<div class="brand-logo-slider-area section-space--pb_60 section-space--pt_60">
  <div class="container">
    <div class="py-4 mb-4">
      <div class="align-items-center">
        <div class="text-center">
          <h3 class="chuyenmuc">KHÁCH HÀNG TIÊU BIỂU</h3>
          <hr class="hrtag">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of customers" class="slide">
            <img width="250" height="200" src="{{slide.image.pathUrl}}" class="img-fluid wp-post-image" alt="">
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
<!--====================  End of brand logo slider area  ====================-->
