<div class="custom-modal" id="myModal">
  <form >
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <div class="d-flex justify-content-between">
            <div class="modal-content-box">
              <label>Tên
                <input type="text" name="name" [(ngModel)]="nav.name" placeholder="">
                <small>VD: Khách hàng Chính Phủ</small>
              </label>
              <label>Đường dẫn
                <input type="text" name="url" [(ngModel)]="nav.url" placeholder="">
                <small>VD: /khach-hang-chinh-phu</small>
              </label>
              <label>Nhóm
                <input *ngIf="isChild" name="parentId" [(ngModel)]="nav.parentId" [value]="nav.parentId" disabled>
                <div *ngIf="isChild == false">
                  <select name="parentId" [(ngModel)]="nav.parentId">
                    <option [selected]="true" [value]="0">--Chọn--</option>
                    <option *ngFor="let opt of navGroup" [value]="opt.id">{{opt.name}}</option>
                  </select>
                </div>
              </label>
            </div>
            <div class="modal-button">
<!--              <div *ngIf="group; else elseButton">-->
<!--                <button type="submit" class="ht-btn-custom bg-primary" (click)="addChild()">Lưu</button>-->
<!--              </div>-->
<!--              <ng-template #elseButton>-->
<!--                <button type="submit" class="ht-btn-custom bg-primary" (click)="onSubmit()">Lưu</button>-->
<!--              </ng-template>-->

              <button type="submit" class="ht-btn-custom bg-primary" (click)="onSubmit()">Lưu</button>
              <button type="button" class="ht-btn-custom bg-secondary" (click)="closeModal()">Hủy</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
